<h1>Welcome to Word Count</h1>
<p>Enter a word and a phrase or sentence and find out how many time your word is in your phrase.</p>
<form action="/word_count">
  <div class="form-group">
     <label for="word_entered">Enter a word:</label>
     <input id="word_entered" name="word_entered" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sentence_entered">Enter a phrase or sentence:</label>
    <input id="sentence_entered" type="text" name="sentence_entered" class="form-control" required>
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
